* {
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    margin: 0;
    background-color: #f9fafb;
}

.app-container {
    display: flex;
    min-height: 100vh;
    background: #f7f8fc;
    font-family: "Poppins", sans-serif;
}
