* {
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    margin: 0;
    background-color: #f9fafb;
}

.app-container {
    display: flex;
    min-height: 100vh;
    background: #f7f8fc;
    font-family: "Poppins", sans-serif;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

/* sidebar */
.sidebar {
  width: 200px;
  background: white;
  border-right: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
}

.sidebar-logo {
  text-align: center;
  padding: 20px 10px;
}

.sidebar-logo img {
  width: 50px;
  transition: transform 0.3s ease;
}

.sidebar-logo img:hover {
  transform: rotate(10deg) scale(1.1);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  cursor: pointer;
  color: #555;
  font-weight: 400;
  transition: all 0.2s ease;
}

.sidebar-menu li:hover {
  background: #e8fffa;
  color: #00bfa6;
  padding-left: 25px;
}

.sidebar-menu li.active {
  background: #dff6f2;
  color: #00bfa6;
  font-weight: 500;
}

.logout {
  padding: 15px 20px;
  color: #777;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-top: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s ease;
}

.logout:hover {
  background: #f5f5f5;
  color: #00bfa6;
}